@font-face {
    font-family: roboto;
    src: url (font/Roboto-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: roboto;
    src: url (font/Roboto-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: roboto;
    src: url (font/Roboto-Light.ttf);
    font-weight: 300;
}
#banner {
    background-image: 
        url(../img/bannerbg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.logo img {
    margin-left: 90px;
    margin-top: 23px;
}
.menu li {
    display: inline-block;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
ul {
    display: block;
    float: right;
    margin-top: 29px;
    font-size: 16px;
}
.login {
    background-color: #e76e66;
}
.menu li:hover {
    color: #999999;
    cursor: pointer;
}
.bgtab {
    background-image: 
    url(../img/tab.png);
    height: 455px;
    width: 368px;
    margin-top: 74px;
    text-align: center;
    padding-top: 193px;
}
.buttonstart {
    color: #fff;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.08);
    margin-top: 45px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 35px;
    padding-right: 35px;
    border-color: rgba(255,255,255,0.50);
    border-width: 3px;
    font-size: 26px;
}
.bannertext h2 {
    color: #fff;
    font-family: roboto;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 205px;
    margin-left: 25px;
}
.bannertext p {
    color: #fff;
    font-family: roboto;
    font-size: 14px;
    font-weight: 300;
    margin-left: 25px;
}
.btn li {
    
    display: inline-block;
    float: left;
    font-family: roboto;
    padding: 10px;
}
.option1 {
    color: #fff;
    background-color: #e76e66; 
    border: none;
    font-size: 17.7px;
    font-family: roboto;
    position: relative;
    height: 40px;
    line-height: 30px;
    margin-top: 45px;
    margin-right: 5px;
    margin-left: 35px;
    padding: 2px 15px;
}
.option1 span {
    border-radius: 50%;
    background-color: #fff;
    color: black;
    display: block;
    font-size: 17.7px;
    font-style: italic;
    margin: 0 auto;
    text-align: center;
    top: 5px;
    right: -19px;
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 20;
}
.option3 {
    color: #fff;
    background-color: #dda56c;
    border: none;
    font-size: 17.7px;
    font-family: roboto;
    position: relative;
    height: 40px;
    line-height: 30px;
    margin-right: 10px;
    padding: 2px 25px;
}
/* section1 */
.section1 {
    margin-top: 60px;
    margin-bottom: 125px;
}
.tui img {
    margin-top: 40px;
    margin-left: 60px;
}
.shopping h3 {
    font-family: roboto;
    font-weight: 700;
    font-size: 22px;
}
.shopping p {
    font-family: roboto;
    font-weight: 300;
    font-size: 14px;
}
.shopping img {
    margin-right: 20px;
    margin-top: 30px;
}
/* section2 */
.section2 {
    background-color: #f6f6f7;
    text-align: center;
}
.services {
    margin-top: 80px;
    margin-bottom: 80px;
}
.services h3 {
    font-family: roboto;
    font-weight: 700;
    font-size: 22px;
}
.services p {
    font-family: roboto;
    font-weight: 300;
    font-size: 16px;
}
/* section3 */
.section3 {
    background-color: #dda56c;
    font-family: roboto;
}
.lr {
    color: #fff;
    margin-top: 270px;
    font-size: 50px;
}
.features {
    color: #fff;
    text-align: center;
}
.features h3 {
    font-weight: 700;
    font-size: 28px;
    padding-top: 20px;
}
.features p {
    font-weight: 300;
    font-size: 18px;
}
/* section4 */
.section4 {
    margin-bottom: 75px;
}
.price h3 {
    font-family: roboto;
    font-weight: 700;
    font-size: 20px;
    padding-top: 30px;
    text-align: center;
}
.price p {
    font-family: roboto;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 30px;
    text-align: center;
}
.box-price1 {
    background-color: #1b7e5a;
    color: #fff;
    text-align: center;
    position: relative;
    height: 72px;
    width: 180px;
}
.box-price1 span {
    background-color: #166549;
    border-radius: 50%;
    font-family: roboto;
    font-weight: 700;
    font-size: 24px;
    padding: 9px;
    margin-top: -10px;
    margin-left: -25px;
    position: absolute;
    height: 50px;
    width: 50px;
}
.box-price p {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: roboto;
    font-weight: 700;
    font-size: 18px;
}
.box1 {
    background-color: #6cbfa1;
    color: #fff;
    font-family: roboto;
    font-weight: 300;
    font-size: 14px;
    padding-top: 10px;
    text-align: center;
    height: 255px;
    width: 180px;
}
.box1 button {
    background-color: #1b7e5a;
    border: none;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
    padding: 10px;
}
.box1 p {
    margin-top: 20px;
    margin-bottom: -5px;
    font-family: roboto;
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
}
.box-price2 {
    background-color: #e76e66;
    color: #fff;
    text-align: center;
    position: relative;
    height: 72px;
    width: 180px;
}
.box-price3 {
    background-color: #579aa9;
    color: #fff;
    text-align: center;
    position: relative;
    height: 72px;
    width: 180px;
}
.box-price2 span {
    background-color: #b95752;
    border-radius: 50%;
    font-family: roboto;
    font-weight: 700;
    font-size: 24px;
    padding: 9px;
    margin-top: -10px;
    margin-left: -25px;
    position: absolute;
    height: 50px;
    width: 50px;
}
.box-price3 span {
    background-color: #457b87;
    border-radius: 50%;
    font-family: roboto;
    font-weight: 700;
    font-size: 24px;
    padding: 9px;
    margin-top: -10px;
    margin-left: -25px;
    position: absolute;
    height: 50px;
    width: 50px;
}
.box2 {
    background-color: #f3aea8;
    color: #fff;
    font-family: roboto;
    font-weight: 300;
    font-size: 14px;
    padding-top: 10px;
    text-align: center;
    height: 255px;
    width: 180px;
}
.box2 button {
    background-color: #e76e66;
    border: none;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
    padding: 10px;
}
.box2 p {
    margin-top: 20px;
    margin-bottom: -5px;
    font-family: roboto;
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
}
.box3 {
    background-color: #9bc9d4;
    color: #fff;
    font-family: roboto;
    font-weight: 300;
    font-size: 14px;
    padding-top: 10px;
    text-align: center;
    height: 255px;
    width: 180px;
}
.box3 button {
    background-color: #457b87;
    border: none;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
    padding: 10px;
}
.box3 p {
    margin-top: 20px;
    margin-bottom: -5px;
    font-family: roboto;
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
}
/* section5 */
.section5 {
    background-color: #2e2e2e;
    color: #fff;
}
.section5 h3 {
    font-family: roboto;
    font-weight: 700;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
}
.section5 p {
    font-family: roboto;
    font-weight: 700;
    font-size: 13px;
    display: inline-block;
    margin-right: 25px;
}
.section5 i {
    padding-right: 3px;
    padding-left: 3px;;
}
input {
    width: 100%;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
textarea {
    width: 100%;
    padding-left: 10px;
    resize: none;
}
::-webkit-input-placeholder { font-style: italic;}
::-moz-placeholder { font-style: italic; }
:-ms-input-placeholder { font-style: italic; }
:-moz-placeholder { font-style: italic; }
.contact-box button {
    background-color: #e76e66;
    border: none;
    float: right;
    font-family: roboto;
    font-weight: 700;
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 70px;
}
/* section6 */
.section6 {
    background-color: #171717;
    color: #fff;
    font-family: roboto;
    font-weight: 700;
    font-size: 14px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}
@media (max-width: 767) {
    .section1 {
        margin: 0 auto;
    }
}