@media (min-width: 768px){
    /* Header*/
    .top-call {
        float: right;
    }
    
    .featares-conten {
    height: 250px;
    }
    .box-see:after {
        top: 155px;
    }
}

@media (min-width: 992px){
    /* Hero */
    .block-signup .btn-3d {
        margin: 0 auto; 
    }

    .text-checkout {
        float: right;
        margin-top: -50px;
        right: 50%;
        margin-right: -400px;
    }
    .text-wait {
        margin-top: -53px;
        margin-left: -358px;
        float: left;
        left: 50%;
    }
    .box-see:after {
        top: 119px;
    }
    
} 
    