/* ======================================
    Fonts
=========================================*/
@font-face {
    font-family: "arial";
    src: url("../font/arial.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "helvetica";
    src: url("../font/helveticaneuebold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "helvetica";
    src: url("../font/helveticaneuemedium.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "helvetica";
    src: url("../font/helveticaneuelight.ttf");
    font-weight: 300;
}
/* ======================================
    Common
=========================================*/
.white { color: #fff; }
.blue { color:#5790dc; } 
.gray { color: #808080; }
img {
    max-width: 100%;
}
*:focus { outline: none }
.btn-3d {
    background: #bfeaff;
    background-image: linear-gradient(to bottom, #bfeaff, #5d98e0);
    border-radius: 55px;
    border: none;
    box-shadow: 0px 3px 3px #666666; 
    color: #37567f;
    display: block;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-family: "helvetica";
    font-weight: 700;
    font-size: 21px;
    text-shadow: 0px 1px 2px #bfeaff;
    position: relative;
    margin-bottom: 50px;
}
.btn-3d span {
    display: block;
    font-weight: 300;
    font-size: 14px;
}
.btn-3d:hover {
    background: #3cb0fd;
    background-image: linear-gradient(to bottom, #5d98e0, #bfeaff);
    text-decoration: none;
}
.btn-3d:after {
    content: '';
    display: block;
    background-image: url(../images/sadown2.png);
    width: 100%;
    height: 32px;
    position: absolute;
    z-index: 2;
    bottom: -40px;
    left: 0;
}
.text-note {
    color: #5790dc;
    font-family: "helvetica";
    font-weight: 300;
    font-style: italic;
    font-size: 22px;
}
.relative {
    position: relative;
}
.margin-center {
    margin: 0 auto;
}
.margin-LR {
    margin-left: 30px;
    margin-right: 30px;
}

/* ======================================
    Layout
=========================================*/
html {
    background-image: url("../images/bg.jpg");
    background-size: cover;
}
body.container {
    background-color: #fff;
    border-radius: 5px;
    font-family: "arial";
    font-size: 12px; 
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 80px;
}
h1
h2
h3
h4
h5 {
    font-family: "helvetica";
}
h2 { 
    font-size: 36px;
    font-weight: 700;
}
h3 { font-size: 22px}
/* ======================================
    Header
=========================================*/
.top-logo {
    color: #b2b2b2; 
    font-family: "helvetica";
    font-weight: 300;
    font-size: 28px;
    margin-top: 30px;
}
.top-logo span {
    color: #8b8b8b;
    font-weight: 700;
    padding-left: 15px;
}
.top-call {
    color: #b2b2b2; 
    font-family: "helvetica";
    font-weight: 300;
    font-size: 22px;
    margin-top: 25px;
}
.top-call span {
    color: #8b8b8b;
    font-weight: 700;
}
/* ======================================
    Hero
=========================================*/
.hero {
    text-align: center;
    margin-bottom: 20px;
}
.text-checkout {
    vertical-align: text-top;
    display: inline-block;
    position: relative;
    padding-bottom: 70px;
}
.text-checkout:after {
    content: '';
    background-image: url(../images/arow1.png);
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    right: -80px;
    top: 15px;
    width: 80px;
    height: 85px;
}
.hero h2 {
    margin-bottom: 20px;
}
/* ======================================
    Featares
=========================================*/

.featares {
    padding-top: 60px;
}
.featares h3 {
    font-family: "helvetica";
    font-weight: 700;
    font-size: 22px;
}
.featares p {
    color: #808080;
}
.featares-conten {
    height: 180px;
}

/* ======================================
    Testimonials
=========================================*/
.testimonials .text-note {
    color: #5790dc;
    font-family: "helvetica";
    font-weight: 300;
    font-style: italic;
    font-size: 22px;
}
.box-see {
    background-color: #eaeaea;
    padding: 30px;
    border-radius: 4px;
    position: relative;
}
.box-see:after {
    content: '';
    background-image: url(../images/tam-giac.jpg);
    background-repeat: no-repeat;
    position: absolute;
    right: 34px;
    top: 119px;
    width: 18px;
    height: 20px;
}
.testimonials {
   color: #808080;
   margin-top: 50px;
}
.tes-steve {
    float: right;
    margin-right: 57px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.block-signdown {
    margin-top: 70px;
    margin-bottom: 70px;
}
.text-wait {
    vertical-align: text-top;
    display: inline-block;
    position: relative;
    padding-bottom: 70px;
    margin-left: 190px;
}
.text-wait:before {
    content: '';
    background-image: url(../images/arrow2.png);
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    right: 175px;
    top: -50px;
    width: 100px;
    height: 100px;
}
 /* ======================================
    Footer
=========================================*/
.footer-contact {
    background-image: url('../images/footer-bg-1.png');
    background-size: cover;
    display: inline-block;
    padding-left: 25px;
}
.footer-copyright {
    background-image: url('../images/footer-bg-2.png');
    background-size: cover;
    padding: 5px 10px;
}
.footer-conten {
    height: 120px;
    margin-top: 25px;
}
.footer-copyright span:last-child {
    float: right;
}