@media (min-width: 768px) {
    /* Top bar */
    .top-search form {
        margin-top: 20px;
    }
    .top-bar .top-cart {
        margin-top: -35px;
    }
    .top-bar .top-search {
        width: 434px;
    }
    /* Menu */
    .slicknav_menu {
        display: none;
    }
    .featured-gellary {
        margin-bottom: 44px;
        margin-left: 56px;
    }
    
    /* featured */
    
    .products-item {
        margin-right: 40px;
        margin-top: 44px;
        width: 90%;
    }
    /* Footer */

    .footer-links{
        padding-bottom: 40px;
        padding-top: 30px;
}
}

