@media (max-width: 767px) {
    /* Top bar */
    .top-search form {
        margin-top: 90px;
        margin-bottom: 20px;
    }
    .top-bar .top-cart {
        margin-top: -125px;
    }
    .home-slider {
        text-align: center;
    }
    .home-slider img {
        margin: 0 auto;
    }
    .home-slider button {
        width: 100%;
    }
    .top-bar .top-search {
    display: block;
    margin: 0 auto;
    }
    /* Menur */
    .slicknav_menu {
        display: block;
        background-color: #41c4b5;
    }
    .slicknav_btn {
        background-color: rgba(245, 242, 242, 0.28);
    }
    .menu {
        display: none;
    }
      .slicknav_menu .slicknav_menutxt {
        text-shadow: none;
    }

    /* Carousel */

    .carousel {
        margin: 0 110px;
    }

    /* FEATURED PRODUCTS */

    .featured-gellary > div {
        padding: 10px;
    }
    .products-item button {
        padding: 5px 20px;
    }

    /* Footer */
    .footer-links {
       padding-bottom: 5px;
       padding-top: 5px; 
    }
    .foot {
        padding: 0;
    }
}