/* ======================================
    Fonts
=========================================*/
@font-face {
    font-family: "lobster";
    src: url("../font/Lobster_1_4.otf");
    font-weight: 700;
}
@font-face {
    font-family: "bebasneue";
    src: url("../font/BebasNeue.otf");
    font-weight: 700;
}
@font-face {
    font-family: "opensans";
    src: url("../font/open-sans/OpenSans-Regular.ttf");
    font-weight: 400;
}

/* ======================================
    Common
=========================================*/
.white { color: #fff; }
.green { color: #3cc395; }
.emerald { color: #41c4b5; }
.gray { color: #e1e1e1 }

*:focus {
    outline: none;
}
li {
    list-style: none;
}
img { max-width: 100%; }
.bg-emerald {
    background-image: url("../images/backgrup.jpg");
}
.trans-button {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 2px 25px;
}
.flat-button {
    background-color: #3cc395;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 19px;
}
.section-hero {
    box-shadow: 0px 2px 5px #888888;
}
.text-center {
    text-align: center;
}
/* ======================================
    Layout
=========================================*/
body {
    font-family: "opensans";
    font-size: 16px;
}
h1, 
h2, 
h3, 
h4, 
h5 {
    font-family: "bebasneue";
}
h2 { 
    font-size: 61px; 
}
h3 { 
    font-size: 31px; 
}
h4 { 
    font-size: 21px; 
}
a {
    color: #fff; 
}
/* ======================================
    Header
=========================================*/
/* Top bar */
.logo {
    font-family: "lobster";
    font-size: 49px;
    font-weight: 700;
    color: #41c4b5;
    margin-left: 20px;
}
.top-search form {
    border: 1px solid #e1e1e1;
    position: relative;
    height: 30px;
}
.top-search input {
    border: none;
    width: 90%;
    height: 100%;
    padding: 0 10px;
}
.top-search form i {
    position: absolute;
    right: 6px;
    top: 1px;
    color: #e1e1e1;
    font-size: 22px;
}
.top-cart .amount {
    color: #a1a1a1;
    font-size: 33px;
    font-family: "bebasneue";
    margin-left: 15px;
    vertical-align: middle;
}
.top-bar .top-search {
    display: block;
    margin: 0 auto;
}
.top-bar .logo {
    float: left;
}
.top-bar .top-cart {
    float: right;
    margin-right: 24px;
}

/* Menu */

nav {
    background-color: #41c4b5;
    color: #fff;
    box-shadow: 0px 2px 5px #888888;
}
.menu {
    font-family: "bebasneue";
    font-size: 21px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
}
.menu li {
    color: #fff;
    display: inline-block;
    border-right: 2px solid;
    margin-left: 19px;
    padding-right: 20px;
    line-height: 17px;
}
.menu li:last-child {
    border: none;
}

/* ======================================
    Home
=========================================*/

/* Slider */

.box-slider {
    color: #fff;
    margin-top: 50px;
    margin-bottom: 50px;
}
.slick-dots li {
    margin: 0;
}
.slick-dots li button:before {
    color: #fff;
    opacity: 1;
    font-size: 12px;
}
.slick-dots li.slick-active button:before {
    color: #fff;
    opacity: 0.25;
}
.about h2 {
    line-height: 55px;
    margin-bottom: 15px;
}
.about p {
    line-height: 27px;
}
.about button {
    font-family: "bebasneue";
    font-size: 27px; 
}
.about:hover button {
    background-color: rgba(255, 255, 255, 0.4);
}

/* Carousel */

.carousel {
    color: #e1e1e1;
    font-family: "bebasneue";
    font-size: 27px;
}
.caro-item {
    border-right: 1px solid #e1e1e1;
    padding: 20px 20px 30px 20px;
}
.caro-item .item-image,
.caro-item .item-name {
    display: inline-block;
}
.caro-item .item-image {
    width: 60%;
}
.caro-item .item-name {
    width: 35%;
}
.caro-item .item-name h3 {
    font-size: 27px;
    color: #b1b1b1;
}
.carousel button {
    margin-top: 15px;
    padding: 2px 15px;
}
.slick-prev:before, 
.slick-next:before {
    color: gray;
}
.slick-next:before {
    height: 100px;
    width: 40px;
    background-image: url("../images/next-R.png");
    background-repeat: no-repeat;
    display: block;
    width: 100px;
    background-position: 6px 4px;
    margin-left: 20px;
    margin-top: -50px;
    content: '';
}
.slick-prev:before {
    height: 100px;
    width: 40px;
    background-image: url("../images/next-L.png");
    background-repeat: no-repeat;
    display: block;
    width: 100px;
    background-position: 6px 4px;
    margin-left: -45px;
    margin-top: -50px;
    content: '';
}
.item-name button.flat-button:hover  {
    background-color: rgba(60, 195, 149, 0.37);
}

/* featured */

.featured h3 {
    color: #fff;
    margin: 6px 59px;
    font-size: 31px;
}
.featured-gellary {
    color: #e1e1e1;
    font-family: "bebasneue";
    font-size: 27px;
    text-align: center;
}
.products-item {
    border: 1px solid #e1e1e1;
    position: relative;
}
.products-item button {
    display: inline-block;
    margin-bottom: 35px;
    margin-left: 10px;
}
.products-item p {
    margin: -5px;
    padding-top: 10px;
}
.products-item img {
    margin-top: 35px;
}
.products-item span {

}
.products-item .item-image {
    height: 150px;
    text-align: center;
    position: relative;
}
.products-item .item-image img {
    max-height: 100%;
    margin: 0;
}
.products-item .item-image > div {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}
.products-item:after {
    content: '';
    width: 100%;
    display: block;
    height: 5px;
    background-color: #3cc395;
    position: absolute;
    bottom: -1px;
    left: 0px;
}
.products-item button.flat-button:hover {
    background-color: rgba(60, 195, 149, 0.37);
}

/* ======================================
   footer
=========================================*/


.footer-links h3 {
    color: #fff;
    font-size: 27px;
    padding-left: 45px;
}
.footer-links p {
    color: #fff;
    font-size: 15px;
    padding-left: 45px;
    line-height: 18px;

}
.bg-footer {
    background-color: #3cc3b5;
}
.text-center p {
    color: #fff;
    font-size: 15px;
    padding: 10px 20px;
    margin: 0;
}
.bg-Copyright {
    background-color: #2da89b;
}